$porter-blue : #428bca;
$porter-blue-hover : #00509d;
$porter-red : #FF3636;
$porter-red-hover : #ED0000;

@mixin Button ($bColor, $fColor, $fSize) {
    padding: 2px 6px;
    font-size: $fSize;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: $fColor;
    background-color: $bColor;
}

@mixin setTableAttr ($widthValue, $borderValue) {
    width: $widthValue;
    border-right: $borderValue solid #ccc;
}

@mixin fixHeight ($size) {
    height: $size;
    max-height: $size;
    min-height: $size;
}
@mixin fixWidth ($size) {
    width: $size;
    max-width: $size;
    min-width: $size;
}

/*---------- MY PAGE ----------*/

#mypage-body {
    font-family: "NanumGothic";
    width: 900px;
    padding: 20px;
    margin: 0 auto;
    margin: 30px;
    background: #ffffff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

    .mypage-tab {
        > ul {
            border-bottom: 1px solid $porter-blue;

            > li > a {
                padding: 10px 25px;
                border-radius: 5px 5px 0px 0px;
            }
            > .active {
                font-weight: bolder;
                font-size: 15px;
            }
        }
        .nav-tabs > li.active {
            > a, > a:hover, > a:focus {
                cursor: pointer;
                background-color: #fff;
                border: 0px;
                border-bottom-color: transparent;
                background-color: $porter-blue;
                color: #fff;
            }
        }
        .tab-content { margin-top: 20px; }
    }
}

.buy-main > span,
.delivery-dropdown1-main > span,
.delivery-dropdown2-main > span,
.sell-dropdown1-main > span,
.sell-dropdown2-main > span,
.sell-dropdown3-main > span  {
    display: block;
    font-size: 20px;
    font-weight: bolder;
}

#order-state-box {
    display: block;
    float: left;
    max-width: 100%;
    margin-left: 22%;
    margin-top: 20px;
    padding: 15px 35px;
    border: 3px solid #428bca;
    text-align: center;
}

#sell-partsList-box {
    display: block;
    float: left;
    max-width: 55%;
    margin-top: 20px;
    margin-left: 23%;
    padding: 15px 35px;
    border: 3px solid #428bca;
    text-align: center;
}

#trade-partsList-box {
    display: block;
    float: left;
    max-width: 70%;
    margin-top: 20px;
    margin-left: 16%;
    padding: 15px 35px;
    border: 3px solid #428bca;
    text-align: center;
}

#order-state-box > div,
#sell-partsList-box > div,
#trade-partsList-box > div {
    float: left;
    margin: 0px 30px;
    font-size: 18px;
    cursor: pointer;
}

#order-state-box > div > span,
#sell-partsList-box > div > span,
#trade-partsList-box > div > span {
    display: block;
}

#order-state-box > div .product-count,
#sell-partsList-box > div > .product-count,
#trade-partsList-box > div > .product-count{
    color: #FF3636;
    font-size: 22px;
    font-weight: bolder;
}

#payWait-buy,
#payComplete-buy,
#deliveryProgress-buy,
#cancelProgress-buy,
#recently-sell,
#payWait-sell,
#payComplete-sell,
#deliveryProgress-sell,
#cancelRequest-sell {
    display: none;
}

#recently-buy > span,
#payWait-buy > span,
#deliveryProgress-buy > span,
#cancelProgress-buy > span,
#recently-sell > span,
#payWait-sell > span,
#payComplete-sell > span,
#deliveryProgress-sell > span,
#cancelRequest-sell > span {
    display: block;
    margin-top: 120px;
    font-size: 16px;
    font-weight: bolder;
}

.partslist-table {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    font-size: 13px;

    .table-head {
        height: 20px;
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 14px;

        > div {
            display: block;
            float: left;
            text-align: center;

            > span {
                color: #000000;
                font-weight: bolder;
                cursor: default;
            }
        }
        .partsCheck { @include setTableAttr(40px, 1px); }
        .partsTime  { @include setTableAttr(100px, 1px); }
        .partsName  { @include setTableAttr(360px, 1px); }
        .partsCount { @include setTableAttr(70px, 1px); }
        .partsSeller{ @include setTableAttr(100px, 1px); }
        .partsPrice { @include setTableAttr(100px, 1px); }
        .etc        { @include setTableAttr(90px, 0px); }
    }

    .table-body {
        > span {
            display: block;
            height: 40px;
            font-size: 14px;
            padding: 0px 10px;
        }
        .parts {
            margin: 15px 0px;
            width: 100%;
            height: 90px;
            max-height: 110px;

            > div {
                display: block;
                float: left;
                text-align: center;

                a:hover {
                    cursor: default;
                    text-decoration: none;
                }
            }

            .partsCheck {
                margin-top: -4px;
                padding: 0px 10px;
                width: 40px;
                max-width: 40px;
            }
            .partsImage {
                max-width: 90px;
                max-height: 90px;
                margin-right: 10px;
                overflow: hidden;
            }
            .partsName {
                display: table-cell;
                text-decoration: none;
                padding: 0px 10px;
                width: 240px;
                max-width: 260px;
                min-width: 260px;
                height: 90px;
                max-height: 90px;
                min-height: 90px;
                overflow: hidden;
                text-overflow: ellipsis;

                .pName {
                    display: block;
                    margin-top: 20px;
                    margin-bottom: 15px;
                    padding: 0px 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .carName {
                    display: block;
                    padding: 0px 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .etc {
                display: table-cell;
                text-decoration: none;
                padding: 0px 10px;
                width: 90px;
                max-width: 90px;
                height: 90px;
                max-height: 90px;
                min-height: 90px;
                overflow: hidden;
                text-overflow: ellipsis;

                .statusBtn {
                    display: block;
                    margin: 0 auto;
                    margin-top: 15px;
                    margin-bottom: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include Button($porter-red, #fff, 12px);
                }
                .statusBtn:hover {
                    background-color: $porter-red-hover;
                }
            }

            .partsCheck > input,
            .partsTime > a,
            .partsCount > a,
            .partsSeller > a,
            .partsPrice > a,
            .etc > a {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                height: 90px;
                max-height: 90px;
            }
            .partsTime > a {
                padding: 0px 10px;
                width: 100px;
                max-width: 100px;
            }
            .partsCount > a {
                padding: 0px 10px;
                width: 70px;
                max-width: 70px;
            }
            .partsSeller > a {
                padding: 0px 10px;
                width: 100px;
                max-width: 100px;
            }
            .partsPrice > a {
                padding: 0px 10px;
                width: 100px;
                max-width: 100px;
            }
            .etc {
                > a {
                    padding: 0px 10px;
                    width: 90px;
                    max-width: 90px;
                    font-size: 12px;
                }
                .partsStatus {
                    display: block;
                    padding: 0px 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 12px;
                }
            }
        }
    }
}

#sell-function {
    margin-bottom: 20px;

    .all-select-btn {
        margin-right: 5px;
        margin-left: 5px;
        @include Button(#fff, #000, 13px);
        padding: 4px 10px;
        border: 1px solid #000;
    }
    .all-select-btn:hover {
        background-color: #eee;
    }
    .list-delete-btn {
        @include Button($porter-red, #fff, 13px);
        padding: 4px 10px;
    }
    .list-delete-btn:hover {
        background-color: $porter-red-hover;
    }

    .all-order-btn,
    .list-order-btn {
        @include Button($porter-blue, #fff, 13px);
        padding: 4px 10px;
        float: right;
    }
    .all-order-btn:hover,
    .list-order-btn:hover {
        background-color: $porter-blue-hover;
    }
}

#member-private {
    > span { display: block; font-size: 20px; margin-bottom: 5px; }


    .private-main {
        border-top: 2px solid $porter-blue;
        border-bottom: 1px solid #ccc;
        overflow: auto;

        > div {
            overflow: auto;
            border-bottom: 1px solid #ccc;

            > div { float: left; font-size: 12px; padding: 0px 12px; @include fixHeight(37px); }
            .pHead {
                line-height: 37px;
                font-size: 14px;
                @include fixWidth(125px);
                background-color: #eee;
            }
            .pBody { padding-top: 7px; overflow-y: hidden; }
        }

        .name-box,
        .id-box {
            .pBody {
                > span { font-size: 14px; margin-right: 10px; margin-left: 5px; }
            }
        }
        .email-box {
            .pBody {
                > input { @include fixWidth(100px); @include fixHeight(22px); }
            }
        }
        .address-box {
            > div { @include fixHeight(65px); }
            .pHead { line-height: 65px; }
            .pBody {
                .postal-btn {
                    font-size: 10px;
                    @include Button(#fff, #000, 11px);
                    border: 1px solid #000;
                    margin-left: 5px;
                    @include fixHeight(20px);
                }
                .postal-btn:hover { background-color: #eee; }
                .postal-front, .postal-end { @include fixWidth(40px); @include fixHeight(22px); }
                .address-front, .address-end { margin-top: 5px; @include fixWidth(250px); @include fixHeight(22px); }
                .blank { @include fixHeight(0px); @include fixWidth(100%); }
            }
        }
        .phone-box,
        .call-box {
            .pBody {
                input { @include fixWidth(40px); @include fixHeight(22px); }
            }
        }
    }
    .action-box {
        margin-top: 20px;
        padding-left: 370px;
        > button {
            margin-right: 10px;
            font-size: 14px;
            padding: 5px 15px;
        }
    }
}

#member-address {
    > span { display: block; font-size: 20px; margin-bottom: 5px; }

    .address-main {
        .board-head {
            .select { @include fixWidth(60px); }
            .name { @include fixWidth(130px); }
            .receiver { @include fixWidth(100px); }
            .address { @include fixWidth(300px); }
            .phone { @include fixWidth(140px); }
            .action { @include fixWidth(130px); }
        }
        .board-body {
            > div {
                > div { @include fixHeight(37px); padding-top: 7px; }

                .select { @include fixWidth(60px); }
                .name { @include fixWidth(130px); }
                .receiver { @include fixWidth(100px); }
                .address { @include fixWidth(300px); text-align: left; }
                .phone { @include fixWidth(140px); }
                .action { @include fixWidth(130px); > button { @include fixHeight(22px); padding: 1px 6px; } }
            }
        }
        .action-box {
            margin-top: 10px;

            .add-btn { float: right; }
        }
    }
}

#address-add {
    background-color: #fff;
    @include fixWidth(500px);
    padding: 10px 20px;
    font-family: 'NanumGothic';

    > span { display: block; font-size: 20px; margin-bottom: 5px; }
    .address-main {
        border-top: 2px solid $porter-blue;
        border-bottom: 1px solid #ccc;
        overflow: auto;

        > div {
            overflow: auto;
            border-bottom: 1px solid #ccc;

            > div { float: left; font-size: 12px; padding: 0px 12px; @include fixHeight(37px); }
            .pHead {
                line-height: 37px;
                font-size: 14px;
                @include fixWidth(125px);
                background-color: #eee;
            }
            .pBody { padding-top: 7px; overflow-y: hidden; }
        }
        .name-box, .receiver-box { div > input { @include fixHeight(22px); @include fixWidth(120px); } }
        .address-box {
            > div { @include fixHeight(90px); }
            .pHead { line-height: 90px; }
            .pBody {
                .postal-btn {
                    font-size: 10px;
                    @include Button(#fff, #000, 11px);
                    border: 1px solid #000;
                    margin-left: 5px;
                    @include fixHeight(20px);
                }
                .postal-btn:hover { background-color: #eee; }
                .postal-front, .postal-end { @include fixWidth(40px); @include fixHeight(22px); }
                .address-front, .address-end { margin-top: 5px; @include fixWidth(310px); @include fixHeight(22px); }
                .blank { @include fixHeight(0px); @include fixWidth(100%); }
            }
        }
        .phone-box {
            .pBody {
                input { @include fixWidth(40px); @include fixHeight(22px); }
            }
        }
    }
    .action-box {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-left: 165px;
        > button { padding: 4px 17px; margin-left: 5px; }
    }
}

#member-account {
    margin: 0 auto;

    > span { display: block; font-size: 20px; margin-bottom: 5px; }

    .account-main {
        .board-head {
            .select { @include fixWidth(60px); }
            .name { @include fixWidth(150px); }
            .bank { @include fixWidth(140px); }
            .account { @include fixWidth(230px); }
            .status { @include fixWidth(150px); }
            .action { @include fixWidth(130px); }
        }
        .board-body {
            > div {
                > div { @include fixHeight(37px); padding-top: 7px; }

                .select { @include fixWidth(60px); }
                .name { @include fixWidth(150px); }
                .bank { @include fixWidth(140px); }
                .account { @include fixWidth(230px); text-align: left; }
                .status { @include fixWidth(150px); }
                .action { @include fixWidth(130px); > button { @include fixHeight(22px); padding: 1px 6px; } }
            }
        }
        .action-box {
            margin-top: 10px;

            .add-btn { float: right; }
        }
    }
}

#account-add {
    background-color: #fff;
    @include fixWidth(350px);
    padding: 10px 20px;
    font-family: 'NanumGothic';

    > span { display: block; font-size: 20px; margin-bottom: 5px; }
    .account-main {
        border-top: 2px solid $porter-blue;
        border-bottom: 1px solid #ccc;
        overflow: auto;

        > div {
            overflow: auto;
            border-bottom: 1px solid #ccc;

            > div { float: left; font-size: 12px; padding: 0px 12px; @include fixHeight(37px); }
            .pHead {
                line-height: 37px;
                font-size: 14px;
                @include fixWidth(125px);
                background-color: #eee;
            }
            .pBody { padding-top: 7px; overflow-y: hidden; }
        }
        .name-box, { .pBody > input { @include fixHeight(22px); @include fixWidth(120px); } }
        .bank-box {
            .pBody > select { @include fixHeight(22px); }
        }
        .account-box {
            .pBody {
                input { @include fixWidth(160px); @include fixHeight(22px); }
            }
        }
    }
    .action-box {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-left: 85px;
        > button { padding: 4px 17px; margin-left: 5px; }
    }
}
/*---------- NOTICE BOARD ----------*/

#notice-board {
    overflow: auto;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    @include fixWidth(850px);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

    .notice-main {
        display: none;
        overflow: auto;
        margin-bottom: 15px;

        .title-box {
            margin-bottom: 20px;
            overflow: auto;

            .subject {
                background-color: #eee;
                padding: 5px 20px;
                font-size: 15px;

                span { @include fixWidth(500px); display: block; }
            }
            .writer, .date, .hits { float: left; padding: 5px 20px; font-size: 15px; }
            .date, .hits { float: right; }

            .blank {
                float: left;
                border-top: 1px solid #ccc;
                @include fixWidth(100%);
                @include fixHeight(0px);
            }

            > div > span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .content-box {
            padding: 0px 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid #ccc;
        }

        .notice-list { float: right; padding: 3px 15px; margin-top: 10px; }
        .notice-modify { float: left; padding: 3px 15px; margin-top: 10px; }
    }

    .notice-type {
        overflow: auto;
        margin-bottom: 15px;

        span {
            float: left;
            color: #000;
            padding: 0px 10px;
        }
        span:hover { cursor: pointer; color: $porter-blue; }
        span:nth-child(1), span:nth-child(2), span:nth-child(3) { border-right: 1px solid #999; }
    }
    .notice-search {
        padding: 15px;
        margin-top: 20px;
        background-color: #eee;

        .input-option {
            margin-left: 230px;
            font-size: 15px;
        }
        .input-text {
            font-size: 12px;
            @include fixWidth(180px);
            border: 2px solid $porter-blue;
        }
        .input-search { padding: 2px 10px; }
        .input-search:hover { background-color: $porter-blue-hover; }
    }
}

#notice-board-table {
    div { overflow: auto; }
    .board-head {
        .porterM { @include fixWidth(60px); }
        .number { @include fixWidth(60px); display: none; }
        .type { @include fixWidth(90px); }
        .subject { @include fixWidth(360px); }
        .writer { @include fixWidth(110px); }
        .date { @include fixWidth(110px); }
        .hits { @include fixWidth(80px); span { border-right: 0px; } }
    }

    .board-body {
        div {
            > div { @include fixHeight(32px); }
            .porterM { @include fixWidth(60px); }
            .number { @include fixWidth(60px); display: none; }
            .type { @include fixWidth(90px); }
            .subject { @include fixWidth(360px); text-align: left; }
            .writer { @include fixWidth(110px); }
            .date { @include fixWidth(110px); }
            .hits { @include fixWidth(80px); }

            .subject:hover { cursor: pointer; color: $porter-blue; }
        }
    }
    .porterM-box {
        margin-top: 15px;

        button {
            float: left;
            padding: 3px 10px;
            margin: 0px 5px;
        }
        .notice-write {
            float: right;
        }
    }
}

#notice-write {
    font-family: "NanumGothic";
    width: 900px;
    padding: 20px;
    margin: 0 auto;
    margin: 30px;
    background: #ffffff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    font-size: 12px;

    > span {
        font-size: 18px;
    }
    .subject-box {
        padding: 5px 0px;
        margin-top: 15px;
        >input { @include fixWidth(775px); margin-left: 10px; }
    }
    .content-box {
        font-size: 13px;
        margin-top: -60px;
        @include fixWidth(860px);
        margin-bottom: 15px;
        > textarea { @include fixWidth(100%); height:400px; }
    }

    button { margin: 0 auto; padding: 3px 14px; font-size: 16px; margin-left: 420px; }
}

#support-body {
    font-family: "NanumGothic";
    width: 900px;
    padding: 20px;
    margin: 0 auto;
    margin: 30px;
    background: #ffffff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

    .support-tab {
        > ul {
            border-bottom: 1px solid $porter-blue;

            > li > a {
                padding: 10px 25px;
                border-radius: 5px 5px 0px 0px;
            }
            > .active {
                font-weight: bolder;
                font-size: 15px;
            }
        }
        .nav-tabs > li.active {
            > a, > a:hover, > a:focus {
                cursor: pointer;
                background-color: #fff;
                border: 0px;
                border-bottom-color: transparent;
                background-color: $porter-blue;
                color: #fff;
            }
        }
        .tab-content {
            padding-top: 20px;
        }
    }
}

#private-tab {
    .private-main {
        > span { display: block; font-size: 18px; margin-bottom: 10px; }
        > div { overflow: auto; border-top: 2px solid $porter-blue; }
        > div > div {
            @include fixWidth(100%);
            overflow: auto;
            border-bottom: 1px solid #ccc;
            > div { float: left; @include fixHeight(37px); padding: 0px 12px; }
            .pHead {
                line-height: 37px;
                @include fixWidth(120px);
                padding: 0px 15px;
                background-color: #eee;
            }
            .pBody { padding-top: 7px; overflow-y: hidden; }
        }

        .userInfo-box {
            margin-bottom: 30px;
            > div {
                .phone {

                    > input { font-size: 12px; @include fixWidth(45px); @include fixHeight(22px); }
                }
                .email {

                    > input { font-size: 12px; @include fixWidth(100px); @include fixHeight(22px); }
                }
            }
        }

        .questionContent-box {
            > div {
                .contentH {
                    @include fixHeight(300px);
                    > span {
                        display: block;
                        padding: 130px 0px;

                        @include fixHeight(100%);
                    }
                }
                .type {
                    font-size: 15px;
                    > select { margin-right: 10px; @include fixHeight(22px); }
                }
                .subject {
                    font-size: 12px;
                    @include fixWidth(740px);
                    > input { @include fixWidth(100%); @include fixHeight(22px); }
                }
                .content {
                    overflow-y: visible;
                    padding: 15px 15px;
                    font-size: 13px;
                    @include fixWidth(740px);
                    > textarea { @include fixWidth(100%); @include fixHeight(265px); }
                }
            }
        }
        .send {
            margin-top: 30px;
            margin-left: 390px;
            margin-bottom: 30px;
            padding: 10px 20px;
            font-size: 18px;
        }
        .send:hover { background-color: $porter-blue-hover; }
    }
}

#support-complete {
    font-family: "NanumGothic";
    width: 900px;
    padding: 20px;
    margin: 0 auto;
    margin: 30px;
    background: #ffffff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

    > span { display: block; font-size: 25px; margin: 0 auto; text-align: center; }
    > button { padding: 10px 25px; font-size: 20px; margin-top: 40px; margin-left: 380px; }
}

#FAQ-tab {
    .FAQ-main {
        .FAQ-search {
            padding: 15px;
            background-color: #eee;

            .input-option {
                margin-left: 272px;
                font-size: 15px;
            }
            .input-text {
                font-size: 12px;
                @include fixWidth(180px);
                border: 2px solid $porter-blue;
            }
            .input-search { padding: 2px 10px; }
            .input-search:hover { background-color: $porter-blue-hover; }
        }

        .FAQ-type {
            padding: 10px;

            .type {
                border: 1px solid #ccc;
                margin: 0 auto;
                overflow: auto;
                @include fixWidth(280px);

                > span {
                    float: left;
                    display: block;
                    padding: 5px 10px;
                }
                > span:hover { cursor: pointer; color: $porter-blue; }
            }
        }
    }
}

#FAQ-accordion {
    .FAQ-content {
        margin-bottom: 2px;

        .content-title {
            border: 1px solid $porter-blue;
            border-radius: 3px;
            padding: 7px 15px;
        }
        .content-body {
            margin-top: -1px;
            border-radius: 0px 0px 3px 3px;
            border: {
                style: solid;
                color: $porter-blue;
                right: { width: 1px; }
                left: { width: 1px; }
                bottom: { width: 1px; }
                top: { width: 1px; }
            }

            .content-inner {
                padding: 15px;
            }
        }
    }
}


