/*---------- MY PAGE ----------*/
#mypage-body {
  font-family: "NanumGothic";
  width: 900px;
  padding: 20px;
  margin: 0 auto;
  margin: 30px;
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
  #mypage-body .mypage-tab > ul {
    border-bottom: 1px solid #428bca; }
    #mypage-body .mypage-tab > ul > li > a {
      padding: 10px 25px;
      border-radius: 5px 5px 0px 0px; }
    #mypage-body .mypage-tab > ul > .active {
      font-weight: bolder;
      font-size: 15px; }
  #mypage-body .mypage-tab .nav-tabs > li.active > a, #mypage-body .mypage-tab .nav-tabs > li.active > a:hover, #mypage-body .mypage-tab .nav-tabs > li.active > a:focus {
    cursor: pointer;
    background-color: #fff;
    border: 0px;
    border-bottom-color: transparent;
    background-color: #428bca;
    color: #fff; }
  #mypage-body .mypage-tab .tab-content {
    margin-top: 20px; }

.buy-main > span,
.delivery-dropdown1-main > span,
.delivery-dropdown2-main > span,
.sell-dropdown1-main > span,
.sell-dropdown2-main > span,
.sell-dropdown3-main > span {
  display: block;
  font-size: 20px;
  font-weight: bolder; }

#order-state-box {
  display: block;
  float: left;
  max-width: 100%;
  margin-left: 22%;
  margin-top: 20px;
  padding: 15px 35px;
  border: 3px solid #428bca;
  text-align: center; }

#sell-partsList-box {
  display: block;
  float: left;
  max-width: 55%;
  margin-top: 20px;
  margin-left: 23%;
  padding: 15px 35px;
  border: 3px solid #428bca;
  text-align: center; }

#trade-partsList-box {
  display: block;
  float: left;
  max-width: 70%;
  margin-top: 20px;
  margin-left: 16%;
  padding: 15px 35px;
  border: 3px solid #428bca;
  text-align: center; }

#order-state-box > div,
#sell-partsList-box > div,
#trade-partsList-box > div {
  float: left;
  margin: 0px 30px;
  font-size: 18px;
  cursor: pointer; }

#order-state-box > div > span,
#sell-partsList-box > div > span,
#trade-partsList-box > div > span {
  display: block; }

#order-state-box > div .product-count,
#sell-partsList-box > div > .product-count,
#trade-partsList-box > div > .product-count {
  color: #FF3636;
  font-size: 22px;
  font-weight: bolder; }

#payWait-buy,
#payComplete-buy,
#deliveryProgress-buy,
#cancelProgress-buy,
#recently-sell,
#payWait-sell,
#payComplete-sell,
#deliveryProgress-sell,
#cancelRequest-sell {
  display: none; }

#recently-buy > span,
#payWait-buy > span,
#deliveryProgress-buy > span,
#cancelProgress-buy > span,
#recently-sell > span,
#payWait-sell > span,
#payComplete-sell > span,
#deliveryProgress-sell > span,
#cancelRequest-sell > span {
  display: block;
  margin-top: 120px;
  font-size: 16px;
  font-weight: bolder; }

.partslist-table {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  font-size: 13px; }
  .partslist-table .table-head {
    height: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 14px; }
    .partslist-table .table-head > div {
      display: block;
      float: left;
      text-align: center; }
      .partslist-table .table-head > div > span {
        color: #000000;
        font-weight: bolder;
        cursor: default; }
    .partslist-table .table-head .partsCheck {
      width: 40px;
      border-right: 1px solid #cccccc; }
    .partslist-table .table-head .partsTime {
      width: 100px;
      border-right: 1px solid #cccccc; }
    .partslist-table .table-head .partsName {
      width: 360px;
      border-right: 1px solid #cccccc; }
    .partslist-table .table-head .partsCount {
      width: 70px;
      border-right: 1px solid #cccccc; }
    .partslist-table .table-head .partsSeller {
      width: 100px;
      border-right: 1px solid #cccccc; }
    .partslist-table .table-head .partsPrice {
      width: 100px;
      border-right: 1px solid #cccccc; }
    .partslist-table .table-head .etc {
      width: 90px;
      border-right: 0px solid #cccccc; }
  .partslist-table .table-body > span {
    display: block;
    height: 40px;
    font-size: 14px;
    padding: 0px 10px; }
  .partslist-table .table-body .parts {
    margin: 15px 0px;
    width: 100%;
    height: 90px;
    max-height: 110px; }
    .partslist-table .table-body .parts > div {
      display: block;
      float: left;
      text-align: center; }
      .partslist-table .table-body .parts > div a:hover {
        cursor: default;
        text-decoration: none; }
    .partslist-table .table-body .parts .partsCheck {
      margin-top: -4px;
      padding: 0px 10px;
      width: 40px;
      max-width: 40px; }
    .partslist-table .table-body .parts .partsImage {
      max-width: 90px;
      max-height: 90px;
      margin-right: 10px;
      overflow: hidden; }
    .partslist-table .table-body .parts .partsName {
      display: table-cell;
      text-decoration: none;
      padding: 0px 10px;
      width: 240px;
      max-width: 260px;
      min-width: 260px;
      height: 90px;
      max-height: 90px;
      min-height: 90px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .partslist-table .table-body .parts .partsName .pName {
        display: block;
        margin-top: 20px;
        margin-bottom: 15px;
        padding: 0px 10px;
        overflow: hidden;
        text-overflow: ellipsis; }
      .partslist-table .table-body .parts .partsName .carName {
        display: block;
        padding: 0px 10px;
        overflow: hidden;
        text-overflow: ellipsis; }
    .partslist-table .table-body .parts .etc {
      display: table-cell;
      text-decoration: none;
      padding: 0px 10px;
      width: 90px;
      max-width: 90px;
      height: 90px;
      max-height: 90px;
      min-height: 90px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .partslist-table .table-body .parts .etc .statusBtn {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px 6px;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: white;
        background-color: #ff3636; }
      .partslist-table .table-body .parts .etc .statusBtn:hover {
        background-color: #ed0000; }
    .partslist-table .table-body .parts .partsCheck > input,
    .partslist-table .table-body .parts .partsTime > a,
    .partslist-table .table-body .parts .partsCount > a,
    .partslist-table .table-body .parts .partsSeller > a,
    .partslist-table .table-body .parts .partsPrice > a,
    .partslist-table .table-body .parts .etc > a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      height: 90px;
      max-height: 90px; }
    .partslist-table .table-body .parts .partsTime > a {
      padding: 0px 10px;
      width: 100px;
      max-width: 100px; }
    .partslist-table .table-body .parts .partsCount > a {
      padding: 0px 10px;
      width: 70px;
      max-width: 70px; }
    .partslist-table .table-body .parts .partsSeller > a {
      padding: 0px 10px;
      width: 100px;
      max-width: 100px; }
    .partslist-table .table-body .parts .partsPrice > a {
      padding: 0px 10px;
      width: 100px;
      max-width: 100px; }
    .partslist-table .table-body .parts .etc > a {
      padding: 0px 10px;
      width: 90px;
      max-width: 90px;
      font-size: 12px; }
    .partslist-table .table-body .parts .etc .partsStatus {
      display: block;
      padding: 0px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px; }

#sell-function {
  margin-bottom: 20px; }
  #sell-function .all-select-btn {
    margin-right: 5px;
    margin-left: 5px;
    padding: 2px 6px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: black;
    background-color: white;
    padding: 4px 10px;
    border: 1px solid #000; }
  #sell-function .all-select-btn:hover {
    background-color: #eee; }
  #sell-function .list-delete-btn {
    padding: 2px 6px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    background-color: #ff3636;
    padding: 4px 10px; }
  #sell-function .list-delete-btn:hover {
    background-color: #ed0000; }
  #sell-function .all-order-btn,
  #sell-function .list-order-btn {
    padding: 2px 6px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    background-color: #428bca;
    padding: 4px 10px;
    float: right; }
  #sell-function .all-order-btn:hover,
  #sell-function .list-order-btn:hover {
    background-color: #00509d; }

#member-private > span {
  display: block;
  font-size: 20px;
  margin-bottom: 5px; }
#member-private .private-main {
  border-top: 2px solid #428bca;
  border-bottom: 1px solid #ccc;
  overflow: auto; }
  #member-private .private-main > div {
    overflow: auto;
    border-bottom: 1px solid #ccc; }
    #member-private .private-main > div > div {
      float: left;
      font-size: 12px;
      padding: 0px 12px;
      height: 37px;
      max-height: 37px;
      min-height: 37px; }
    #member-private .private-main > div .pHead {
      line-height: 37px;
      font-size: 14px;
      width: 125px;
      max-width: 125px;
      min-width: 125px;
      background-color: #eee; }
    #member-private .private-main > div .pBody {
      padding-top: 7px;
      overflow-y: hidden; }
  #member-private .private-main .name-box .pBody > span,
  #member-private .private-main .id-box .pBody > span {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 5px; }
  #member-private .private-main .email-box .pBody > input {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    height: 22px;
    max-height: 22px;
    min-height: 22px; }
  #member-private .private-main .address-box > div {
    height: 65px;
    max-height: 65px;
    min-height: 65px; }
  #member-private .private-main .address-box .pHead {
    line-height: 65px; }
  #member-private .private-main .address-box .pBody .postal-btn {
    font-size: 10px;
    padding: 2px 6px;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: black;
    background-color: white;
    border: 1px solid #000;
    margin-left: 5px;
    height: 20px;
    max-height: 20px;
    min-height: 20px; }
  #member-private .private-main .address-box .pBody .postal-btn:hover {
    background-color: #eee; }
  #member-private .private-main .address-box .pBody .postal-front, #member-private .private-main .address-box .pBody .postal-end {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    height: 22px;
    max-height: 22px;
    min-height: 22px; }
  #member-private .private-main .address-box .pBody .address-front, #member-private .private-main .address-box .pBody .address-end {
    margin-top: 5px;
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    height: 22px;
    max-height: 22px;
    min-height: 22px; }
  #member-private .private-main .address-box .pBody .blank {
    height: 0px;
    max-height: 0px;
    min-height: 0px;
    width: 100%;
    max-width: 100%;
    min-width: 100%; }
  #member-private .private-main .phone-box .pBody input,
  #member-private .private-main .call-box .pBody input {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    height: 22px;
    max-height: 22px;
    min-height: 22px; }
#member-private .action-box {
  margin-top: 20px;
  padding-left: 370px; }
  #member-private .action-box > button {
    margin-right: 10px;
    font-size: 14px;
    padding: 5px 15px; }

#member-address > span {
  display: block;
  font-size: 20px;
  margin-bottom: 5px; }
#member-address .address-main .board-head .select {
  width: 60px;
  max-width: 60px;
  min-width: 60px; }
#member-address .address-main .board-head .name {
  width: 130px;
  max-width: 130px;
  min-width: 130px; }
#member-address .address-main .board-head .receiver {
  width: 100px;
  max-width: 100px;
  min-width: 100px; }
#member-address .address-main .board-head .address {
  width: 300px;
  max-width: 300px;
  min-width: 300px; }
#member-address .address-main .board-head .phone {
  width: 140px;
  max-width: 140px;
  min-width: 140px; }
#member-address .address-main .board-head .action {
  width: 130px;
  max-width: 130px;
  min-width: 130px; }
#member-address .address-main .board-body > div > div {
  height: 37px;
  max-height: 37px;
  min-height: 37px;
  padding-top: 7px; }
#member-address .address-main .board-body > div .select {
  width: 60px;
  max-width: 60px;
  min-width: 60px; }
#member-address .address-main .board-body > div .name {
  width: 130px;
  max-width: 130px;
  min-width: 130px; }
#member-address .address-main .board-body > div .receiver {
  width: 100px;
  max-width: 100px;
  min-width: 100px; }
#member-address .address-main .board-body > div .address {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  text-align: left; }
#member-address .address-main .board-body > div .phone {
  width: 140px;
  max-width: 140px;
  min-width: 140px; }
#member-address .address-main .board-body > div .action {
  width: 130px;
  max-width: 130px;
  min-width: 130px; }
  #member-address .address-main .board-body > div .action > button {
    height: 22px;
    max-height: 22px;
    min-height: 22px;
    padding: 1px 6px; }
#member-address .address-main .action-box {
  margin-top: 10px; }
  #member-address .address-main .action-box .add-btn {
    float: right; }

#address-add {
  background-color: #fff;
  width: 500px;
  max-width: 500px;
  min-width: 500px;
  padding: 10px 20px;
  font-family: 'NanumGothic'; }
  #address-add > span {
    display: block;
    font-size: 20px;
    margin-bottom: 5px; }
  #address-add .address-main {
    border-top: 2px solid #428bca;
    border-bottom: 1px solid #ccc;
    overflow: auto; }
    #address-add .address-main > div {
      overflow: auto;
      border-bottom: 1px solid #ccc; }
      #address-add .address-main > div > div {
        float: left;
        font-size: 12px;
        padding: 0px 12px;
        height: 37px;
        max-height: 37px;
        min-height: 37px; }
      #address-add .address-main > div .pHead {
        line-height: 37px;
        font-size: 14px;
        width: 125px;
        max-width: 125px;
        min-width: 125px;
        background-color: #eee; }
      #address-add .address-main > div .pBody {
        padding-top: 7px;
        overflow-y: hidden; }
    #address-add .address-main .name-box div > input, #address-add .address-main .receiver-box div > input {
      height: 22px;
      max-height: 22px;
      min-height: 22px;
      width: 120px;
      max-width: 120px;
      min-width: 120px; }
    #address-add .address-main .address-box > div {
      height: 90px;
      max-height: 90px;
      min-height: 90px; }
    #address-add .address-main .address-box .pHead {
      line-height: 90px; }
    #address-add .address-main .address-box .pBody .postal-btn {
      font-size: 10px;
      padding: 2px 6px;
      font-size: 11px;
      font-weight: normal;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      border-radius: 4px;
      color: black;
      background-color: white;
      border: 1px solid #000;
      margin-left: 5px;
      height: 20px;
      max-height: 20px;
      min-height: 20px; }
    #address-add .address-main .address-box .pBody .postal-btn:hover {
      background-color: #eee; }
    #address-add .address-main .address-box .pBody .postal-front, #address-add .address-main .address-box .pBody .postal-end {
      width: 40px;
      max-width: 40px;
      min-width: 40px;
      height: 22px;
      max-height: 22px;
      min-height: 22px; }
    #address-add .address-main .address-box .pBody .address-front, #address-add .address-main .address-box .pBody .address-end {
      margin-top: 5px;
      width: 310px;
      max-width: 310px;
      min-width: 310px;
      height: 22px;
      max-height: 22px;
      min-height: 22px; }
    #address-add .address-main .address-box .pBody .blank {
      height: 0px;
      max-height: 0px;
      min-height: 0px;
      width: 100%;
      max-width: 100%;
      min-width: 100%; }
    #address-add .address-main .phone-box .pBody input {
      width: 40px;
      max-width: 40px;
      min-width: 40px;
      height: 22px;
      max-height: 22px;
      min-height: 22px; }
  #address-add .action-box {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 165px; }
    #address-add .action-box > button {
      padding: 4px 17px;
      margin-left: 5px; }

#member-account {
  margin: 0 auto; }
  #member-account > span {
    display: block;
    font-size: 20px;
    margin-bottom: 5px; }
  #member-account .account-main .board-head .select {
    width: 60px;
    max-width: 60px;
    min-width: 60px; }
  #member-account .account-main .board-head .name {
    width: 150px;
    max-width: 150px;
    min-width: 150px; }
  #member-account .account-main .board-head .bank {
    width: 140px;
    max-width: 140px;
    min-width: 140px; }
  #member-account .account-main .board-head .account {
    width: 230px;
    max-width: 230px;
    min-width: 230px; }
  #member-account .account-main .board-head .status {
    width: 150px;
    max-width: 150px;
    min-width: 150px; }
  #member-account .account-main .board-head .action {
    width: 130px;
    max-width: 130px;
    min-width: 130px; }
  #member-account .account-main .board-body > div > div {
    height: 37px;
    max-height: 37px;
    min-height: 37px;
    padding-top: 7px; }
  #member-account .account-main .board-body > div .select {
    width: 60px;
    max-width: 60px;
    min-width: 60px; }
  #member-account .account-main .board-body > div .name {
    width: 150px;
    max-width: 150px;
    min-width: 150px; }
  #member-account .account-main .board-body > div .bank {
    width: 140px;
    max-width: 140px;
    min-width: 140px; }
  #member-account .account-main .board-body > div .account {
    width: 230px;
    max-width: 230px;
    min-width: 230px;
    text-align: left; }
  #member-account .account-main .board-body > div .status {
    width: 150px;
    max-width: 150px;
    min-width: 150px; }
  #member-account .account-main .board-body > div .action {
    width: 130px;
    max-width: 130px;
    min-width: 130px; }
    #member-account .account-main .board-body > div .action > button {
      height: 22px;
      max-height: 22px;
      min-height: 22px;
      padding: 1px 6px; }
  #member-account .account-main .action-box {
    margin-top: 10px; }
    #member-account .account-main .action-box .add-btn {
      float: right; }

#account-add {
  background-color: #fff;
  width: 350px;
  max-width: 350px;
  min-width: 350px;
  padding: 10px 20px;
  font-family: 'NanumGothic'; }
  #account-add > span {
    display: block;
    font-size: 20px;
    margin-bottom: 5px; }
  #account-add .account-main {
    border-top: 2px solid #428bca;
    border-bottom: 1px solid #ccc;
    overflow: auto; }
    #account-add .account-main > div {
      overflow: auto;
      border-bottom: 1px solid #ccc; }
      #account-add .account-main > div > div {
        float: left;
        font-size: 12px;
        padding: 0px 12px;
        height: 37px;
        max-height: 37px;
        min-height: 37px; }
      #account-add .account-main > div .pHead {
        line-height: 37px;
        font-size: 14px;
        width: 125px;
        max-width: 125px;
        min-width: 125px;
        background-color: #eee; }
      #account-add .account-main > div .pBody {
        padding-top: 7px;
        overflow-y: hidden; }
    #account-add .account-main .name-box .pBody > input {
      height: 22px;
      max-height: 22px;
      min-height: 22px;
      width: 120px;
      max-width: 120px;
      min-width: 120px; }
    #account-add .account-main .bank-box .pBody > select {
      height: 22px;
      max-height: 22px;
      min-height: 22px; }
    #account-add .account-main .account-box .pBody input {
      width: 160px;
      max-width: 160px;
      min-width: 160px;
      height: 22px;
      max-height: 22px;
      min-height: 22px; }
  #account-add .action-box {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 85px; }
    #account-add .action-box > button {
      padding: 4px 17px;
      margin-left: 5px; }

/*---------- NOTICE BOARD ----------*/
#notice-board {
  overflow: auto;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  width: 850px;
  max-width: 850px;
  min-width: 850px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
  #notice-board .notice-main {
    display: none;
    overflow: auto;
    margin-bottom: 15px; }
    #notice-board .notice-main .title-box {
      margin-bottom: 20px;
      overflow: auto; }
      #notice-board .notice-main .title-box .subject {
        background-color: #eee;
        padding: 5px 20px;
        font-size: 15px; }
        #notice-board .notice-main .title-box .subject span {
          width: 500px;
          max-width: 500px;
          min-width: 500px;
          display: block; }
      #notice-board .notice-main .title-box .writer, #notice-board .notice-main .title-box .date, #notice-board .notice-main .title-box .hits {
        float: left;
        padding: 5px 20px;
        font-size: 15px; }
      #notice-board .notice-main .title-box .date, #notice-board .notice-main .title-box .hits {
        float: right; }
      #notice-board .notice-main .title-box .blank {
        float: left;
        border-top: 1px solid #ccc;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 0px;
        max-height: 0px;
        min-height: 0px; }
      #notice-board .notice-main .title-box > div > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    #notice-board .notice-main .content-box {
      padding: 0px 20px;
      padding-bottom: 10px;
      border-bottom: 2px solid #ccc; }
    #notice-board .notice-main .notice-list {
      float: right;
      padding: 3px 15px;
      margin-top: 10px; }
    #notice-board .notice-main .notice-modify {
      float: left;
      padding: 3px 15px;
      margin-top: 10px; }
  #notice-board .notice-type {
    overflow: auto;
    margin-bottom: 15px; }
    #notice-board .notice-type span {
      float: left;
      color: #000;
      padding: 0px 10px; }
    #notice-board .notice-type span:hover {
      cursor: pointer;
      color: #428bca; }
    #notice-board .notice-type span:nth-child(1), #notice-board .notice-type span:nth-child(2), #notice-board .notice-type span:nth-child(3) {
      border-right: 1px solid #999; }
  #notice-board .notice-search {
    padding: 15px;
    margin-top: 20px;
    background-color: #eee; }
    #notice-board .notice-search .input-option {
      margin-left: 230px;
      font-size: 15px; }
    #notice-board .notice-search .input-text {
      font-size: 12px;
      width: 180px;
      max-width: 180px;
      min-width: 180px;
      border: 2px solid #428bca; }
    #notice-board .notice-search .input-search {
      padding: 2px 10px; }
    #notice-board .notice-search .input-search:hover {
      background-color: #00509d; }

#notice-board-table div {
  overflow: auto; }
#notice-board-table .board-head .porterM {
  width: 60px;
  max-width: 60px;
  min-width: 60px; }
#notice-board-table .board-head .number {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
  display: none; }
#notice-board-table .board-head .type {
  width: 90px;
  max-width: 90px;
  min-width: 90px; }
#notice-board-table .board-head .subject {
  width: 360px;
  max-width: 360px;
  min-width: 360px; }
#notice-board-table .board-head .writer {
  width: 110px;
  max-width: 110px;
  min-width: 110px; }
#notice-board-table .board-head .date {
  width: 110px;
  max-width: 110px;
  min-width: 110px; }
#notice-board-table .board-head .hits {
  width: 80px;
  max-width: 80px;
  min-width: 80px; }
  #notice-board-table .board-head .hits span {
    border-right: 0px; }
#notice-board-table .board-body div > div {
  height: 32px;
  max-height: 32px;
  min-height: 32px; }
#notice-board-table .board-body div .porterM {
  width: 60px;
  max-width: 60px;
  min-width: 60px; }
#notice-board-table .board-body div .number {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
  display: none; }
#notice-board-table .board-body div .type {
  width: 90px;
  max-width: 90px;
  min-width: 90px; }
#notice-board-table .board-body div .subject {
  width: 360px;
  max-width: 360px;
  min-width: 360px;
  text-align: left; }
#notice-board-table .board-body div .writer {
  width: 110px;
  max-width: 110px;
  min-width: 110px; }
#notice-board-table .board-body div .date {
  width: 110px;
  max-width: 110px;
  min-width: 110px; }
#notice-board-table .board-body div .hits {
  width: 80px;
  max-width: 80px;
  min-width: 80px; }
#notice-board-table .board-body div .subject:hover {
  cursor: pointer;
  color: #428bca; }
#notice-board-table .porterM-box {
  margin-top: 15px; }
  #notice-board-table .porterM-box button {
    float: left;
    padding: 3px 10px;
    margin: 0px 5px; }
  #notice-board-table .porterM-box .notice-write {
    float: right; }

#notice-write {
  font-family: "NanumGothic";
  width: 900px;
  padding: 20px;
  margin: 0 auto;
  margin: 30px;
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 12px; }
  #notice-write > span {
    font-size: 18px; }
  #notice-write .subject-box {
    padding: 5px 0px;
    margin-top: 15px; }
    #notice-write .subject-box > input {
      width: 775px;
      max-width: 775px;
      min-width: 775px;
      margin-left: 10px; }
  #notice-write .content-box {
    font-size: 13px;
    margin-top: -60px;
    width: 860px;
    max-width: 860px;
    min-width: 860px;
    margin-bottom: 15px; }
    #notice-write .content-box > textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      height: 400px; }
  #notice-write button {
    margin: 0 auto;
    padding: 3px 14px;
    font-size: 16px;
    margin-left: 420px; }

#support-body {
  font-family: "NanumGothic";
  width: 900px;
  padding: 20px;
  margin: 0 auto;
  margin: 30px;
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
  #support-body .support-tab > ul {
    border-bottom: 1px solid #428bca; }
    #support-body .support-tab > ul > li > a {
      padding: 10px 25px;
      border-radius: 5px 5px 0px 0px; }
    #support-body .support-tab > ul > .active {
      font-weight: bolder;
      font-size: 15px; }
  #support-body .support-tab .nav-tabs > li.active > a, #support-body .support-tab .nav-tabs > li.active > a:hover, #support-body .support-tab .nav-tabs > li.active > a:focus {
    cursor: pointer;
    background-color: #fff;
    border: 0px;
    border-bottom-color: transparent;
    background-color: #428bca;
    color: #fff; }
  #support-body .support-tab .tab-content {
    padding-top: 20px; }

#private-tab .private-main > span {
  display: block;
  font-size: 18px;
  margin-bottom: 10px; }
#private-tab .private-main > div {
  overflow: auto;
  border-top: 2px solid #428bca; }
#private-tab .private-main > div > div {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: auto;
  border-bottom: 1px solid #ccc; }
  #private-tab .private-main > div > div > div {
    float: left;
    height: 37px;
    max-height: 37px;
    min-height: 37px;
    padding: 0px 12px; }
  #private-tab .private-main > div > div .pHead {
    line-height: 37px;
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    padding: 0px 15px;
    background-color: #eee; }
  #private-tab .private-main > div > div .pBody {
    padding-top: 7px;
    overflow-y: hidden; }
#private-tab .private-main .userInfo-box {
  margin-bottom: 30px; }
  #private-tab .private-main .userInfo-box > div .phone > input {
    font-size: 12px;
    width: 45px;
    max-width: 45px;
    min-width: 45px;
    height: 22px;
    max-height: 22px;
    min-height: 22px; }
  #private-tab .private-main .userInfo-box > div .email > input {
    font-size: 12px;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    height: 22px;
    max-height: 22px;
    min-height: 22px; }
#private-tab .private-main .questionContent-box > div .contentH {
  height: 300px;
  max-height: 300px;
  min-height: 300px; }
  #private-tab .private-main .questionContent-box > div .contentH > span {
    display: block;
    padding: 130px 0px;
    height: 100%;
    max-height: 100%;
    min-height: 100%; }
#private-tab .private-main .questionContent-box > div .type {
  font-size: 15px; }
  #private-tab .private-main .questionContent-box > div .type > select {
    margin-right: 10px;
    height: 22px;
    max-height: 22px;
    min-height: 22px; }
#private-tab .private-main .questionContent-box > div .subject {
  font-size: 12px;
  width: 740px;
  max-width: 740px;
  min-width: 740px; }
  #private-tab .private-main .questionContent-box > div .subject > input {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 22px;
    max-height: 22px;
    min-height: 22px; }
#private-tab .private-main .questionContent-box > div .content {
  overflow-y: visible;
  padding: 15px 15px;
  font-size: 13px;
  width: 740px;
  max-width: 740px;
  min-width: 740px; }
  #private-tab .private-main .questionContent-box > div .content > textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 265px;
    max-height: 265px;
    min-height: 265px; }
#private-tab .private-main .send {
  margin-top: 30px;
  margin-left: 390px;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 18px; }
#private-tab .private-main .send:hover {
  background-color: #00509d; }

#support-complete {
  font-family: "NanumGothic";
  width: 900px;
  padding: 20px;
  margin: 0 auto;
  margin: 30px;
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
  #support-complete > span {
    display: block;
    font-size: 25px;
    margin: 0 auto;
    text-align: center; }
  #support-complete > button {
    padding: 10px 25px;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 380px; }

#FAQ-tab .FAQ-main .FAQ-search {
  padding: 15px;
  background-color: #eee; }
  #FAQ-tab .FAQ-main .FAQ-search .input-option {
    margin-left: 272px;
    font-size: 15px; }
  #FAQ-tab .FAQ-main .FAQ-search .input-text {
    font-size: 12px;
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    border: 2px solid #428bca; }
  #FAQ-tab .FAQ-main .FAQ-search .input-search {
    padding: 2px 10px; }
  #FAQ-tab .FAQ-main .FAQ-search .input-search:hover {
    background-color: #00509d; }
#FAQ-tab .FAQ-main .FAQ-type {
  padding: 10px; }
  #FAQ-tab .FAQ-main .FAQ-type .type {
    border: 1px solid #ccc;
    margin: 0 auto;
    overflow: auto;
    width: 280px;
    max-width: 280px;
    min-width: 280px; }
    #FAQ-tab .FAQ-main .FAQ-type .type > span {
      float: left;
      display: block;
      padding: 5px 10px; }
    #FAQ-tab .FAQ-main .FAQ-type .type > span:hover {
      cursor: pointer;
      color: #428bca; }

#FAQ-accordion .FAQ-content {
  margin-bottom: 2px; }
  #FAQ-accordion .FAQ-content .content-title {
    border: 1px solid #428bca;
    border-radius: 3px;
    padding: 7px 15px; }
  #FAQ-accordion .FAQ-content .content-body {
    margin-top: -1px;
    border-radius: 0px 0px 3px 3px;
    border-style: solid;
    border-color: #428bca;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px; }
    #FAQ-accordion .FAQ-content .content-body .content-inner {
      padding: 15px; }
