$porter-blue : #428bca;
$porter-blue-hover : #00509d;
$porter-red : #FF3636;
$porter-red-hover : #ED0000;

@mixin Button ($bColor, $fColor, $fSize) {
    font-size: $fSize;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: $fColor;
    background-color: $bColor;
}

@mixin fixHeight ($size) {
    height: $size;
    max-height: $size;
    min-height: $size;
}
@mixin fixWidth ($size) {
    width: $size;
    max-width: $size;
    min-width: $size;
}

/* ---------- PARTS LIST ---------- */

#parts_list {
    position: static;
    width: 100%;
    padding-left: 35px;
    padding-right: 10px;

    .parts:hover { border: 1px #000000 solid; }
    .parts {
        position: static;
        margin: 0px 20px 30px 20px;
        display: block;
        float: left;
        background: #ffffff;
        border: 1px #ffffff solid;
        height: 285px;
        width: 180px;
        cursor: pointer;

        .img {
            margin: 0 auto;
            height: 180px;
            width: 180px;
        }
        .info {
            height: 105px;
            max-height: 105px;
            width: 180px;
            max-width: 180px;
            padding: 10px 15px;
            font-family: 'NanumGothic';
            font-size: 13px;

            .name {
                color: #0042ED;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .price {
                margin-top: 5px;
                height: 20px;
                overflow: hidden;
                font-weight: bold;
            }
            .car {
                color: #000000;
                overflow: hidden;
                margin-top: 5px;
                font-weight: bold;
            }
        }
    }

    .img > img {
        height: 178px;
        max-height: 178px;
        width: 178px;
        max-width: 178px;
    }
}

/* ---------- PARTS DETAIL ---------- */

#detail-parts {
    width: 885px;
    height: 500px;
    margin-left: -15px;

    .detail-pInfo {
        margin-left: 55%;
        width: 45%;
        height: 100%;
        max-height: 100%;
        max-width: 45%;
        padding: 10px;

        .tab-main {
            margin-top: 10px;
            height: 420px;
            overflow-y: auto;
            overflow-x: hidden;
            position: relative;
        }

        .tabbable {
            > ul {
                max-width: 378px;
                height: 41px;
                border-bottom: 1px solid #428bca;
            }
            .nav-tabs > li.active {
                > a, > a:hover, > a:focus {
                    cursor: pointer;
                    background-color: #fff;
                    border: 0px;
                    border-bottom-color: transparent;
                    background-color: #428bca;
                    color: #fff;
                }
            }
        }
    }

    .detail-pImage {
        float: left;
        height: 100%;
        width: 55%;
        border-right: 1px #ccc solid;
        padding: 10px 0px;

        .pImage-large {
            max-width: 100%;
            max-height: 350px;
            margin-bottom: 25px;
        }
        .pImage-small {
            position: absolute;
            width: 480px;

            > ul {
                > li {
                    padding: 1px;
                    display: block;
                    float: left;
                    margin: 5px;
                    border: 1px #fff solid;
                    overflow: hidden;

                    > img {
                        @include fixHeight(90px);
                        @include fixWidth(90px);
                    }
                }
                > li:hover {
                    border: 1px #A7A7A7 solid;
                    cursor: pointer;
                }
            }
        }
    }
}

#pImage-prev {
    position: absolute;
    height: 350px;
    width: 70px;

    > img {
        padding: 25px;
        margin-top: 135px;
        cursor: pointer;
    }
}

#pImage-next {
    position: absolute;
    height: 350px;
    width: 70px;
    left: 415px;

    > img {
        padding: 25px;
        margin-top: 135px;
        cursor: pointer;
    }
}

#pImage-main {
    margin-left: 14%;
    max-width: 350px;
    padding: 1px;
    border: 2px #fff solid;
}

#pImage-main:hover {
    cursor: pointer;
    border: 2px #A7A7A7 solid;
}

#pInfo-key {
    position: absolute;
    width: 80px;
    max-width: 80px;
    max-height: 480px;
    font-size: 100%;
    text-align: right;

    > span {
        display: block;
        height: 22px;
        margin: 5px 0px 15px 0px;
    }
}

#pInfo-value {
    position: absolute;
    margin-left: 105px;
    width: 270px;
    max-height: 480px;
    font-size: 100%;

    > span {
        display: block;
        height: 22px;
        margin: 5px 0px 15px 0px;
    }
}

.pInfo-content-div {
    position: absolute;
    margin-top: 220px;
    margin-left: 15px;
    @include fixWidth(325px);
    min-height: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#pInfo-content {
    display: block;
}

.cart {
    float: left;
}

/* ---------- PARTS REGISTRATION ---------- */

#parts-regist > form {
    margin: 0 auto;
    background: #ffffff;
    width: 580px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    padding: 40px 50px;
    margin-bottom: 120px;
}

#category-select,
#parts-name,
#parts-price,
#parts-quantity,
#parts-content {
    margin-bottom: 25px;
}

#parts-regist > form > div > a {
    color: #000;
    font-weight: bolder;
    font-size: 14px;
}
#parts-regist > form > div > a:hover {
    cursor: default;
    text-decoration: none;
}

/* Category */
#category-select .category-body {
    margin-top: 10px;
    margin-left: 10px;
}
#category-select .category-body > select {
    width: 140px;
    margin-right: 10px;
    font-size: 20px;
}

/* Car, Maker */
#car-select {
    display: block;
}

#car-select .car-body {
    margin-top: 10px;
    margin-left: 10px;
}
#car-select .car-body > select {
    width: 140px;
    margin-right: 10px;
    font-size: 20px;
}

/* Photo */
#photo-upload {
    width: 100%;
    margin-bottom: 20px;
}

#photo-upload .photo-body {
    display: block;
    width: 480px;
    max-width: 480px;
    height: 133px;
    max-height: 133px;
    margin-top: 10px;
    padding: 15px 7px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.photo-set {
    float: left;
    display: block;
    margin: 0px 8px;
    height: 100px;
    width: 100px;
}

.photo-set > div {
    position: absolute;
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(../img/160x160_1.jpg);
}

.photo-set > input {
    float: left;
    position: relative;
    opacity: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* Name */
#name-text {
    margin-left: 10px;
    margin-top: 10px;
    width: 470px;
    height: 25px;
    font-size: 12px;
}

/* Price */
#price-text {
    margin: 10px 7px 0px 10px;
    width: 90px;
    height: 25px;
    font-size: 12px;
}

/* Quantity */
#quantity-text {
    margin: 10px 7px 0px 10px;
    width: 50px;
    height: 25px;
    font-size: 12px;
}

/* State */
#state-select {
    margin: 10px 7px 0px 10px;
    font-size: 20px;
}

/* Content */
#content-text {
    margin: 10px 7px 0px 10px;
    width: 470px;
    height: 200px;
    font-size: 12px;
}

#parts-submit {
    display: block;
    margin: 0 auto;
    padding: 6px 15px;
    border-color: $porter-blue;
    @include Button($porter-blue, #fff, 14px);
}

#parts-submit:hover {
    background: $porter-blue-hover;
    cursor: pointer;
}

/* ---------- PARTS CART ---------- */

#cart-body {
    width: 900px;
    padding: 1px 15px;
    margin: 0 auto;
    background: #ffffff;
    font-family: "NanumGothic";
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

#cart-emptyMessage {
    display: block;
    font-size: 14px;
}

#parts-cart .cart-partslist {
    .table-head {
        height: 20px;
        margin-top: 10px;
        margin-bottom: -10px;

        div {
            display: block;
            float: left;
            text-align: center;

            > span {
                color: #000000;
                font-weight: bolder;
                cursor: default;
            }
        }

        .partsCheck { @include fixWidth(40px); }
        .partsImage { @include fixWidth(110px); margin-right: 30px; }
        .partsName  { @include fixWidth(300px); }
        .partsCount { @include fixWidth(100px); }
        .partsSeller{ @include fixWidth(140px); }
        .partsPrice { @include fixWidth(110px); }
    }

    .cart-parts {
        margin: 15px 0px;
        width: 100%;
        @include fixHeight(110px);

        > div {
            display: block;
            float: left;
            text-align: center;

            > a:hover {
                cursor: default;
                text-decoration: none;
            }
        }

        .partsCount > a,
        .partsSeller > a,
        .partsPrice > a {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            text-decoration: none;
            @include fixHeight(110px);
        }
        .partsCheck {
            padding: 0px 10px;
            @include fixWidth(40px);
            height: 110px;

            > input {
                margin-top: 50px;
            }
        }

        .partsImage {
            max-width: 110px;
            max-height: 110px;
            margin-right: 30px;
        }
        .partsName {
            display: table-cell;
            text-decoration: none;
            @include fixWidth(300px);
            @include fixHeight(110px);
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0px 10px;

            .pName {
                display: block;
                margin-top: 20px;
                margin-bottom: 15px;
            }
            .carName {
                display: block;
            }
        }

        .partsCount > a { @include fixWidth(100px); padding: 0px 10px; }
        .partsSeller > a{ @include fixWidth(140px); padding: 0px 10px; }
        .partsPrice > a { @include fixWidth(110px); padding: 0px 10px; }
    }
}

#cart-total {
    display: none;
    margin-bottom: 20px;
    margin-left: 10px;
    @include fixHeight(50px);

    > span:nth-child(1) {
        position: absolute;
        display: table-cell;
        font-size: 20px;
        margin-top: 12px;
    }
}

#cart-totalPrice {
    position: absolute;
    display: block;
    margin-left: 140px;
    font-size: 230%;
    color: #FF0000;
    width: 300px;
    max-width: 300px;
    overflow: hidden;
}

#cart-function {
    width: 900px;
    margin: 0 auto;
    margin-top: 12px;

    .all-select-btn {
        margin-right: 5px;
        padding: 4px 10px;
        @include Button(#fff, #000, 13px);
        border-color: #000;
    }
    .all-select-btn:hover { background-color: #eee; }

    .list-delete-btn {
        padding: 4px 10px;
        @include Button($porter-red, #fff, 13px);
    }
    .list-delete-btn:hover { background-color: $porter-red-hover; }

    .all-order-btn,
    .list-order-btn {
        float: right;
        margin-left: 10px;
        padding: 4px 10px;
        @include Button($porter-blue, #fff, 13px);
    }
    .all-order-btn:hover,
    .list-order-btn:hover { background-color: $porter-blue-hover; }
}

/* ---------- PARTS PURCHASE ---------- */


#purchase-main {
    margin: 0 auto;
    background: #fff;
    @include fixWidth(900px);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    padding: 20px;

    > div { border-top: 2px solid $porter-blue; border-bottom: 1px solid #ccc; margin-bottom: 50px; overflow: auto; }
    > span { display: block; font-size: 20px; font-weight: bold; margin-bottom: 5px; }

    .list-box {
        > div {overflow: auto; }
        .list-head {
            border-bottom: 1px solid #ccc;
            > div {
                float:left;
                padding: 10px 0px;
                text-align: center;

                span { display: block; border-right: 1px solid #ccc; color: $porter-blue-hover; }
                span:hover { cursor: default; }
            }
            > div:last-child > span { border-right: 0px; }

            .code { @include fixWidth(120px); }
            .name { @include fixWidth(350px); }
            .count { @include fixWidth(70px); }
            .seller { @include fixWidth(110px); }
            .price { @include fixWidth(110px); }
            .deliver { @include fixWidth(100px); }
        }
        .list-body {
            div {
                overflow: auto;

                div {
                    float: left;
                    border-bottom: 1px solid #ccc;
                    padding: 10px 10px;
                    text-align: center;
                    vertical-align: middle;
                    overflow: hidden;
                    @include fixHeight(110px);

                    span {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    span:hover { cursor: default; }
                    img { float: left; }
                }
                .code {
                    @include fixWidth(120px);

                    span { @include fixWidth(100px); @include fixHeight(90px); }
                }
                .name {
                    @include fixWidth(350px);
                    span { margin-left: 100px; display: block; @include fixWidth(230px); }
                    img:hover, span:hover { cursor: pointer; color: $porter-blue; }
                    .partsName { margin-top: 15px; margin-bottom: 15px; }
                }
                .count {
                    @include fixWidth(70px);
                    span { @include fixWidth(50px); @include fixHeight(90px); }
                }
                .seller {
                    @include fixWidth(110px);
                    span { @include fixWidth(90px); @include fixHeight(90px); }
                }
                .price {
                    @include fixWidth(110px);
                    span { @include fixWidth(90px); @include fixHeight(90px); }
                }
                .deliver {
                    @include fixWidth(100px);
                    span { @include fixWidth(80px); @include fixHeight(90px); }
                }

            }
        }
    }

    .receiverInfo-box {
        > div {
            overflow: auto;
            border-bottom: 1px solid #ccc;

            > div { float: left; font-size: 12px; }
            .pHead {
                padding: 8px 12px;
                font-size: 14px;
                @include fixWidth(125px);
                background-color: #eee;
            }
        }

        .addressSelect-box {
            > div {
                padding: 8px 12px;

                span { margin-right: 10px; margin-left: 5px; }
            }
        }
        .receiver-box {
            .pBody {
                padding: 6px 12px;
                input { @include fixWidth(100px); }
            }
        }
        .address-box {
            .pHead { padding: 22px 12px; }
            .pBody {
                padding: 6px 12px;
                .postal-btn {
                    font-size: 10px;
                    @include Button(#fff, #000, 11px);
                    border: 1px solid #000;
                    margin-left: 5px;
                }
                .postal-btn:hover { background-color: #eee; }
                .postal-front, .postal-end { @include fixWidth(40px); }
                .address-front, .address-end { margin-top: 5px; }
                .blank { @include fixHeight(0px); @include fixWidth(100%); }
            }
        }
        .phone-box {
            .pBody {
                padding: 6px 12px;
                input { @include fixWidth(40px); }
            }
        }
        .message-box {
            .pBody {
                padding: 6px 12px;
                input { @include fixWidth(600px); }
            }
        }
    }

    .payment-box {
        .plan-box {
            overflow: auto;
            border-bottom: 1px solid #ccc;
            padding: 15px;

            span { margin-left: 7px; margin-right: 12px; }
        }

        .bank-box {
            display: none;
            .bankInfo-box {
                overflow: auto;
                border-bottom: 1px solid #ccc;

                > div { float: left; }
                .pHead{
                    padding: 8px 12px;
                    font-size: 14px;
                    @include fixWidth(125px);
                    background-color: #eee;
                }
                .pBody {
                    padding: 8px 12px;
                    > span { margin-left: 10px; }
                    .account-name { color: $porter-blue; font-weight: bold; }
                }
            }
        }
        .totalPrice-box {
            overflow: auto;
            padding: 25px 10px;
            border-bottom: 1px solid #ccc;

            > span:first-child {
                font-size: 18px;
                margin-right: 30px;
            }
            > span:nth-child(2) {
                font-size: 30px;
                color: $porter-red;
            }
            .payment-btn {
                float: right;
                margin-right: 20px;
                width: 120px;
                height: 40px;
                font-size: 16px;
                color: #ffffff;
                border: 0px;
                border-radius: 3px;
                background: -webkit-gradient(linear, left top, left bottom, from(#0079bc), to(#00509d));
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
            }
            .payment-btn:hover { background: $porter-blue-hover; }
        }
    }
}

/*---------- PARTS SEARCH ----------*/

#search-body {
    background: #ffffff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    padding: 15px 15px 20px 15px;

    > span {
        display: block;
        font-size: 20px;
    }

    .search-option {
        margin-left: 20px;
        margin-top: 15px;
        overflow: auto;

        .option-list {
            float: left;
            @include fixWidth(700px);
            background-color: $porter-blue;
            border: 1px solid #000;

            > div {
                overflow: auto;

                .tHead {
                    float: left;
                    @include fixWidth(120px);
                    @include fixHeight(35px);
                    font-size: 15px;
                    background-color: #ccc;

                    > span {
                        @include fixWidth(120px);
                        @include fixHeight(35px);
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                    }
                }
                .tBody {
                    float: left;
                    padding: 0px 15px;
                    @include fixHeight(35px);
                    overflow: hidden;
                    background-color: $porter-blue;

                    > span {
                        margin: 0px 10px;
                        font-size: 16px;
                    }
                }

                > div > select {
                    @include fixHeight(35px);
                    font-size: 20px;
                }

                > div > input {
                    @include fixWidth(80px);
                    font-size: 12px;
                    margin-top: 6px;
                }

                .blank {
                    float: left;
                    border-top: 1px solid #000;
                    @include fixWidth(100%);
                    @include fixHeight(0px);
                }
            }
        }
    }

    .searchBtn {
        font-size: 23px;
        padding: 25px 20px;
        margin-top: 30px;
        margin-left: 40px;
    }
    .searchBtn:hover { background-color: $porter-blue-hover; }
}

#search-result-list {
    display: none;
}
