/* ---------- PARTS LIST ---------- */
#parts_list {
  position: static;
  width: 100%;
  padding-left: 35px;
  padding-right: 10px; }
  #parts_list .parts:hover {
    border: 1px #000000 solid; }
  #parts_list .parts {
    position: static;
    margin: 0px 20px 30px 20px;
    display: block;
    float: left;
    background: #ffffff;
    border: 1px #ffffff solid;
    height: 285px;
    width: 180px;
    cursor: pointer; }
    #parts_list .parts .img {
      margin: 0 auto;
      height: 180px;
      width: 180px; }
    #parts_list .parts .info {
      height: 105px;
      max-height: 105px;
      width: 180px;
      max-width: 180px;
      padding: 10px 15px;
      font-family: 'NanumGothic';
      font-size: 13px; }
      #parts_list .parts .info .name {
        color: #0042ED;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #parts_list .parts .info .price {
        margin-top: 5px;
        height: 20px;
        overflow: hidden;
        font-weight: bold; }
      #parts_list .parts .info .car {
        color: #000000;
        overflow: hidden;
        margin-top: 5px;
        font-weight: bold; }
  #parts_list .img > img {
    height: 178px;
    max-height: 178px;
    width: 178px;
    max-width: 178px; }

/* ---------- PARTS DETAIL ---------- */
#detail-parts {
  width: 885px;
  height: 500px;
  margin-left: -15px; }
  #detail-parts .detail-pInfo {
    margin-left: 55%;
    width: 45%;
    height: 100%;
    max-height: 100%;
    max-width: 45%;
    padding: 10px; }
    #detail-parts .detail-pInfo .tab-main {
      margin-top: 10px;
      height: 420px;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative; }
    #detail-parts .detail-pInfo .tabbable > ul {
      max-width: 378px;
      height: 41px;
      border-bottom: 1px solid #428bca; }
    #detail-parts .detail-pInfo .tabbable .nav-tabs > li.active > a, #detail-parts .detail-pInfo .tabbable .nav-tabs > li.active > a:hover, #detail-parts .detail-pInfo .tabbable .nav-tabs > li.active > a:focus {
      cursor: pointer;
      background-color: #fff;
      border: 0px;
      border-bottom-color: transparent;
      background-color: #428bca;
      color: #fff; }
  #detail-parts .detail-pImage {
    float: left;
    height: 100%;
    width: 55%;
    border-right: 1px #ccc solid;
    padding: 10px 0px; }
    #detail-parts .detail-pImage .pImage-large {
      max-width: 100%;
      max-height: 350px;
      margin-bottom: 25px; }
    #detail-parts .detail-pImage .pImage-small {
      position: absolute;
      width: 480px; }
      #detail-parts .detail-pImage .pImage-small > ul > li {
        padding: 1px;
        display: block;
        float: left;
        margin: 5px;
        border: 1px #fff solid;
        overflow: hidden; }
        #detail-parts .detail-pImage .pImage-small > ul > li > img {
          height: 90px;
          max-height: 90px;
          min-height: 90px;
          width: 90px;
          max-width: 90px;
          min-width: 90px; }
      #detail-parts .detail-pImage .pImage-small > ul > li:hover {
        border: 1px #A7A7A7 solid;
        cursor: pointer; }

#pImage-prev {
  position: absolute;
  height: 350px;
  width: 70px; }
  #pImage-prev > img {
    padding: 25px;
    margin-top: 135px;
    cursor: pointer; }

#pImage-next {
  position: absolute;
  height: 350px;
  width: 70px;
  left: 415px; }
  #pImage-next > img {
    padding: 25px;
    margin-top: 135px;
    cursor: pointer; }

#pImage-main {
  margin-left: 14%;
  max-width: 350px;
  padding: 1px;
  border: 2px #fff solid; }

#pImage-main:hover {
  cursor: pointer;
  border: 2px #A7A7A7 solid; }

#pInfo-key {
  position: absolute;
  width: 80px;
  max-width: 80px;
  max-height: 480px;
  font-size: 100%;
  text-align: right; }
  #pInfo-key > span {
    display: block;
    height: 22px;
    margin: 5px 0px 15px 0px; }

#pInfo-value {
  position: absolute;
  margin-left: 105px;
  width: 270px;
  max-height: 480px;
  font-size: 100%; }
  #pInfo-value > span {
    display: block;
    height: 22px;
    margin: 5px 0px 15px 0px; }

.pInfo-content-div {
  position: absolute;
  margin-top: 220px;
  margin-left: 15px;
  width: 325px;
  max-width: 325px;
  min-width: 325px;
  min-height: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc; }

#pInfo-content {
  display: block; }

.cart {
  float: left; }

/* ---------- PARTS REGISTRATION ---------- */
#parts-regist > form {
  margin: 0 auto;
  background: #ffffff;
  width: 580px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 40px 50px;
  margin-bottom: 120px; }

#category-select,
#parts-name,
#parts-price,
#parts-quantity,
#parts-content {
  margin-bottom: 25px; }

#parts-regist > form > div > a {
  color: #000;
  font-weight: bolder;
  font-size: 14px; }

#parts-regist > form > div > a:hover {
  cursor: default;
  text-decoration: none; }

/* Category */
#category-select .category-body {
  margin-top: 10px;
  margin-left: 10px; }

#category-select .category-body > select {
  width: 140px;
  margin-right: 10px;
  font-size: 20px; }

/* Car, Maker */
#car-select {
  display: block; }

#car-select .car-body {
  margin-top: 10px;
  margin-left: 10px; }

#car-select .car-body > select {
  width: 140px;
  margin-right: 10px;
  font-size: 20px; }

/* Photo */
#photo-upload {
  width: 100%;
  margin-bottom: 20px; }

#photo-upload .photo-body {
  display: block;
  width: 480px;
  max-width: 480px;
  height: 133px;
  max-height: 133px;
  margin-top: 10px;
  padding: 15px 7px;
  border: 1px solid #bbb;
  border-radius: 5px; }

.photo-set {
  float: left;
  display: block;
  margin: 0px 8px;
  height: 100px;
  width: 100px; }

.photo-set > div {
  position: absolute;
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  background-image: url(../img/160x160_1.jpg); }

.photo-set > input {
  float: left;
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  cursor: pointer; }

/* Name */
#name-text {
  margin-left: 10px;
  margin-top: 10px;
  width: 470px;
  height: 25px;
  font-size: 12px; }

/* Price */
#price-text {
  margin: 10px 7px 0px 10px;
  width: 90px;
  height: 25px;
  font-size: 12px; }

/* Quantity */
#quantity-text {
  margin: 10px 7px 0px 10px;
  width: 50px;
  height: 25px;
  font-size: 12px; }

/* State */
#state-select {
  margin: 10px 7px 0px 10px;
  font-size: 20px; }

/* Content */
#content-text {
  margin: 10px 7px 0px 10px;
  width: 470px;
  height: 200px;
  font-size: 12px; }

#parts-submit {
  display: block;
  margin: 0 auto;
  padding: 6px 15px;
  border-color: #428bca;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  background-color: #428bca; }

#parts-submit:hover {
  background: #00509d;
  cursor: pointer; }

/* ---------- PARTS CART ---------- */
#cart-body {
  width: 900px;
  padding: 1px 15px;
  margin: 0 auto;
  background: #ffffff;
  font-family: "NanumGothic";
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }

#cart-emptyMessage {
  display: block;
  font-size: 14px; }

#parts-cart .cart-partslist .table-head {
  height: 20px;
  margin-top: 10px;
  margin-bottom: -10px; }
  #parts-cart .cart-partslist .table-head div {
    display: block;
    float: left;
    text-align: center; }
    #parts-cart .cart-partslist .table-head div > span {
      color: #000000;
      font-weight: bolder;
      cursor: default; }
  #parts-cart .cart-partslist .table-head .partsCheck {
    width: 40px;
    max-width: 40px;
    min-width: 40px; }
  #parts-cart .cart-partslist .table-head .partsImage {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    margin-right: 30px; }
  #parts-cart .cart-partslist .table-head .partsName {
    width: 300px;
    max-width: 300px;
    min-width: 300px; }
  #parts-cart .cart-partslist .table-head .partsCount {
    width: 100px;
    max-width: 100px;
    min-width: 100px; }
  #parts-cart .cart-partslist .table-head .partsSeller {
    width: 140px;
    max-width: 140px;
    min-width: 140px; }
  #parts-cart .cart-partslist .table-head .partsPrice {
    width: 110px;
    max-width: 110px;
    min-width: 110px; }
#parts-cart .cart-partslist .cart-parts {
  margin: 15px 0px;
  width: 100%;
  height: 110px;
  max-height: 110px;
  min-height: 110px; }
  #parts-cart .cart-partslist .cart-parts > div {
    display: block;
    float: left;
    text-align: center; }
    #parts-cart .cart-partslist .cart-parts > div > a:hover {
      cursor: default;
      text-decoration: none; }
  #parts-cart .cart-partslist .cart-parts .partsCount > a,
  #parts-cart .cart-partslist .cart-parts .partsSeller > a,
  #parts-cart .cart-partslist .cart-parts .partsPrice > a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    height: 110px;
    max-height: 110px;
    min-height: 110px; }
  #parts-cart .cart-partslist .cart-parts .partsCheck {
    padding: 0px 10px;
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    height: 110px; }
    #parts-cart .cart-partslist .cart-parts .partsCheck > input {
      margin-top: 50px; }
  #parts-cart .cart-partslist .cart-parts .partsImage {
    max-width: 110px;
    max-height: 110px;
    margin-right: 30px; }
  #parts-cart .cart-partslist .cart-parts .partsName {
    display: table-cell;
    text-decoration: none;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 110px;
    max-height: 110px;
    min-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 10px; }
    #parts-cart .cart-partslist .cart-parts .partsName .pName {
      display: block;
      margin-top: 20px;
      margin-bottom: 15px; }
    #parts-cart .cart-partslist .cart-parts .partsName .carName {
      display: block; }
  #parts-cart .cart-partslist .cart-parts .partsCount > a {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    padding: 0px 10px; }
  #parts-cart .cart-partslist .cart-parts .partsSeller > a {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
    padding: 0px 10px; }
  #parts-cart .cart-partslist .cart-parts .partsPrice > a {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    padding: 0px 10px; }

#cart-total {
  display: none;
  margin-bottom: 20px;
  margin-left: 10px;
  height: 50px;
  max-height: 50px;
  min-height: 50px; }
  #cart-total > span:nth-child(1) {
    position: absolute;
    display: table-cell;
    font-size: 20px;
    margin-top: 12px; }

#cart-totalPrice {
  position: absolute;
  display: block;
  margin-left: 140px;
  font-size: 230%;
  color: #FF0000;
  width: 300px;
  max-width: 300px;
  overflow: hidden; }

#cart-function {
  width: 900px;
  margin: 0 auto;
  margin-top: 12px; }
  #cart-function .all-select-btn {
    margin-right: 5px;
    padding: 4px 10px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: black;
    background-color: white;
    border-color: #000; }
  #cart-function .all-select-btn:hover {
    background-color: #eee; }
  #cart-function .list-delete-btn {
    padding: 4px 10px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    background-color: #ff3636; }
  #cart-function .list-delete-btn:hover {
    background-color: #ed0000; }
  #cart-function .all-order-btn,
  #cart-function .list-order-btn {
    float: right;
    margin-left: 10px;
    padding: 4px 10px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    background-color: #428bca; }
  #cart-function .all-order-btn:hover,
  #cart-function .list-order-btn:hover {
    background-color: #00509d; }

/* ---------- PARTS PURCHASE ---------- */
#purchase-main {
  margin: 0 auto;
  background: #fff;
  width: 900px;
  max-width: 900px;
  min-width: 900px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 20px; }
  #purchase-main > div {
    border-top: 2px solid #428bca;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    overflow: auto; }
  #purchase-main > span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px; }
  #purchase-main .list-box > div {
    overflow: auto; }
  #purchase-main .list-box .list-head {
    border-bottom: 1px solid #ccc; }
    #purchase-main .list-box .list-head > div {
      float: left;
      padding: 10px 0px;
      text-align: center; }
      #purchase-main .list-box .list-head > div span {
        display: block;
        border-right: 1px solid #ccc;
        color: #00509d; }
      #purchase-main .list-box .list-head > div span:hover {
        cursor: default; }
    #purchase-main .list-box .list-head > div:last-child > span {
      border-right: 0px; }
    #purchase-main .list-box .list-head .code {
      width: 120px;
      max-width: 120px;
      min-width: 120px; }
    #purchase-main .list-box .list-head .name {
      width: 350px;
      max-width: 350px;
      min-width: 350px; }
    #purchase-main .list-box .list-head .count {
      width: 70px;
      max-width: 70px;
      min-width: 70px; }
    #purchase-main .list-box .list-head .seller {
      width: 110px;
      max-width: 110px;
      min-width: 110px; }
    #purchase-main .list-box .list-head .price {
      width: 110px;
      max-width: 110px;
      min-width: 110px; }
    #purchase-main .list-box .list-head .deliver {
      width: 100px;
      max-width: 100px;
      min-width: 100px; }
  #purchase-main .list-box .list-body div {
    overflow: auto; }
    #purchase-main .list-box .list-body div div {
      float: left;
      border-bottom: 1px solid #ccc;
      padding: 10px 10px;
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      height: 110px;
      max-height: 110px;
      min-height: 110px; }
      #purchase-main .list-box .list-body div div span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #purchase-main .list-box .list-body div div span:hover {
        cursor: default; }
      #purchase-main .list-box .list-body div div img {
        float: left; }
    #purchase-main .list-box .list-body div .code {
      width: 120px;
      max-width: 120px;
      min-width: 120px; }
      #purchase-main .list-box .list-body div .code span {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        height: 90px;
        max-height: 90px;
        min-height: 90px; }
    #purchase-main .list-box .list-body div .name {
      width: 350px;
      max-width: 350px;
      min-width: 350px; }
      #purchase-main .list-box .list-body div .name span {
        margin-left: 100px;
        display: block;
        width: 230px;
        max-width: 230px;
        min-width: 230px; }
      #purchase-main .list-box .list-body div .name img:hover, #purchase-main .list-box .list-body div .name span:hover {
        cursor: pointer;
        color: #428bca; }
      #purchase-main .list-box .list-body div .name .partsName {
        margin-top: 15px;
        margin-bottom: 15px; }
    #purchase-main .list-box .list-body div .count {
      width: 70px;
      max-width: 70px;
      min-width: 70px; }
      #purchase-main .list-box .list-body div .count span {
        width: 50px;
        max-width: 50px;
        min-width: 50px;
        height: 90px;
        max-height: 90px;
        min-height: 90px; }
    #purchase-main .list-box .list-body div .seller {
      width: 110px;
      max-width: 110px;
      min-width: 110px; }
      #purchase-main .list-box .list-body div .seller span {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        height: 90px;
        max-height: 90px;
        min-height: 90px; }
    #purchase-main .list-box .list-body div .price {
      width: 110px;
      max-width: 110px;
      min-width: 110px; }
      #purchase-main .list-box .list-body div .price span {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        height: 90px;
        max-height: 90px;
        min-height: 90px; }
    #purchase-main .list-box .list-body div .deliver {
      width: 100px;
      max-width: 100px;
      min-width: 100px; }
      #purchase-main .list-box .list-body div .deliver span {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        height: 90px;
        max-height: 90px;
        min-height: 90px; }
  #purchase-main .receiverInfo-box > div {
    overflow: auto;
    border-bottom: 1px solid #ccc; }
    #purchase-main .receiverInfo-box > div > div {
      float: left;
      font-size: 12px; }
    #purchase-main .receiverInfo-box > div .pHead {
      padding: 8px 12px;
      font-size: 14px;
      width: 125px;
      max-width: 125px;
      min-width: 125px;
      background-color: #eee; }
  #purchase-main .receiverInfo-box .addressSelect-box > div {
    padding: 8px 12px; }
    #purchase-main .receiverInfo-box .addressSelect-box > div span {
      margin-right: 10px;
      margin-left: 5px; }
  #purchase-main .receiverInfo-box .receiver-box .pBody {
    padding: 6px 12px; }
    #purchase-main .receiverInfo-box .receiver-box .pBody input {
      width: 100px;
      max-width: 100px;
      min-width: 100px; }
  #purchase-main .receiverInfo-box .address-box .pHead {
    padding: 22px 12px; }
  #purchase-main .receiverInfo-box .address-box .pBody {
    padding: 6px 12px; }
    #purchase-main .receiverInfo-box .address-box .pBody .postal-btn {
      font-size: 10px;
      font-size: 11px;
      font-weight: normal;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      border-radius: 4px;
      color: black;
      background-color: white;
      border: 1px solid #000;
      margin-left: 5px; }
    #purchase-main .receiverInfo-box .address-box .pBody .postal-btn:hover {
      background-color: #eee; }
    #purchase-main .receiverInfo-box .address-box .pBody .postal-front, #purchase-main .receiverInfo-box .address-box .pBody .postal-end {
      width: 40px;
      max-width: 40px;
      min-width: 40px; }
    #purchase-main .receiverInfo-box .address-box .pBody .address-front, #purchase-main .receiverInfo-box .address-box .pBody .address-end {
      margin-top: 5px; }
    #purchase-main .receiverInfo-box .address-box .pBody .blank {
      height: 0px;
      max-height: 0px;
      min-height: 0px;
      width: 100%;
      max-width: 100%;
      min-width: 100%; }
  #purchase-main .receiverInfo-box .phone-box .pBody {
    padding: 6px 12px; }
    #purchase-main .receiverInfo-box .phone-box .pBody input {
      width: 40px;
      max-width: 40px;
      min-width: 40px; }
  #purchase-main .receiverInfo-box .message-box .pBody {
    padding: 6px 12px; }
    #purchase-main .receiverInfo-box .message-box .pBody input {
      width: 600px;
      max-width: 600px;
      min-width: 600px; }
  #purchase-main .payment-box .plan-box {
    overflow: auto;
    border-bottom: 1px solid #ccc;
    padding: 15px; }
    #purchase-main .payment-box .plan-box span {
      margin-left: 7px;
      margin-right: 12px; }
  #purchase-main .payment-box .bank-box {
    display: none; }
    #purchase-main .payment-box .bank-box .bankInfo-box {
      overflow: auto;
      border-bottom: 1px solid #ccc; }
      #purchase-main .payment-box .bank-box .bankInfo-box > div {
        float: left; }
      #purchase-main .payment-box .bank-box .bankInfo-box .pHead {
        padding: 8px 12px;
        font-size: 14px;
        width: 125px;
        max-width: 125px;
        min-width: 125px;
        background-color: #eee; }
      #purchase-main .payment-box .bank-box .bankInfo-box .pBody {
        padding: 8px 12px; }
        #purchase-main .payment-box .bank-box .bankInfo-box .pBody > span {
          margin-left: 10px; }
        #purchase-main .payment-box .bank-box .bankInfo-box .pBody .account-name {
          color: #428bca;
          font-weight: bold; }
  #purchase-main .payment-box .totalPrice-box {
    overflow: auto;
    padding: 25px 10px;
    border-bottom: 1px solid #ccc; }
    #purchase-main .payment-box .totalPrice-box > span:first-child {
      font-size: 18px;
      margin-right: 30px; }
    #purchase-main .payment-box .totalPrice-box > span:nth-child(2) {
      font-size: 30px;
      color: #ff3636; }
    #purchase-main .payment-box .totalPrice-box .payment-btn {
      float: right;
      margin-right: 20px;
      width: 120px;
      height: 40px;
      font-size: 16px;
      color: #ffffff;
      border: 0px;
      border-radius: 3px;
      background: -webkit-gradient(linear, left top, left bottom, from(#0079bc), to(#00509d));
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); }
    #purchase-main .payment-box .totalPrice-box .payment-btn:hover {
      background: #00509d; }

/*---------- PARTS SEARCH ----------*/
#search-body {
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 15px 15px 20px 15px; }
  #search-body > span {
    display: block;
    font-size: 20px; }
  #search-body .search-option {
    margin-left: 20px;
    margin-top: 15px;
    overflow: auto; }
    #search-body .search-option .option-list {
      float: left;
      width: 700px;
      max-width: 700px;
      min-width: 700px;
      background-color: #428bca;
      border: 1px solid #000; }
      #search-body .search-option .option-list > div {
        overflow: auto; }
        #search-body .search-option .option-list > div .tHead {
          float: left;
          width: 120px;
          max-width: 120px;
          min-width: 120px;
          height: 35px;
          max-height: 35px;
          min-height: 35px;
          font-size: 15px;
          background-color: #ccc; }
          #search-body .search-option .option-list > div .tHead > span {
            width: 120px;
            max-width: 120px;
            min-width: 120px;
            height: 35px;
            max-height: 35px;
            min-height: 35px;
            display: table-cell;
            vertical-align: middle;
            text-align: center; }
        #search-body .search-option .option-list > div .tBody {
          float: left;
          padding: 0px 15px;
          height: 35px;
          max-height: 35px;
          min-height: 35px;
          overflow: hidden;
          background-color: #428bca; }
          #search-body .search-option .option-list > div .tBody > span {
            margin: 0px 10px;
            font-size: 16px; }
        #search-body .search-option .option-list > div > div > select {
          height: 35px;
          max-height: 35px;
          min-height: 35px;
          font-size: 20px; }
        #search-body .search-option .option-list > div > div > input {
          width: 80px;
          max-width: 80px;
          min-width: 80px;
          font-size: 12px;
          margin-top: 6px; }
        #search-body .search-option .option-list > div .blank {
          float: left;
          border-top: 1px solid #000;
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          height: 0px;
          max-height: 0px;
          min-height: 0px; }
  #search-body .searchBtn {
    font-size: 23px;
    padding: 25px 20px;
    margin-top: 30px;
    margin-left: 40px; }
  #search-body .searchBtn:hover {
    background-color: #00509d; }

#search-result-list {
  display: none; }
